.account-btn {
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  background: lightgray;
  color: grey;
  transition: 0.3s;
}

.account-btn:hover {
  box-shadow: 0 0 0 .15vw #F59E0B;
}

.account-btn.active {
  background-color: #F59E0B;
  color: white;
}

.filter-btn {
  font-family: inherit;
  font-size: 0.95rem;
  color: grey;
  background-color: lightgrey;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

.filter-btn:hover {
  box-shadow: 0 0 0 .15vw #3B82F6;
}

.filter-btn.active {
  background-color: #3B82F6;
  color: white;
}