.account-btn {
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid var(--muted-text);
  border-radius: 0.5rem ;
  transition: 0.3s;
  box-shadow: 0 0 .2vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent
}

.account-btn:hover {
  background-color: #F59E0B;
  color: var(--btn-text);
}

.account-btn.active {
  background-color: #F59E0B;
  color: white;
}

.filter-btn {
  font-family: inherit;
  font-size: 0.95rem;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid var(--muted-text);
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 .2vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

.filter-btn:hover {
  background-color: var(--muted-text);
  color: var(--btn-text);
}

.filter-btn.active {
  background-color: #3B82F6;
  color: white;
}