.card-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; 
  margin: 1rem;
}

.card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  height: auto;
  background: var(--color-card);
  padding: .8em;
  border-radius: 1rem;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.2s ease;
  border: 1px solid transparent;
  position: relative;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-top: 10px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden
}

.card:hover {
  transform: scale(1.02);
  border-color: 1px var(--color-text);
}

.card-image img {
  width: 100%;    
  height: 100%;       
  object-fit: cover;  
  border-radius: 6px 6px 0 0; 
  display: block;     
}

.card-image:hover {
  border: 1px solid var(--color-text)
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: #3B82F6;
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.favorite-icon {
  cursor: pointer;
  font-size: 1.3rem;
  color: #ccc; /* hollow */
  transition: color 0.3s ease;
}

.favorite-icon.active {
  color: gold;
}

.heading {
  font-weight: 600;
  color: var(--color-text);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: var(--color-muted);
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.card .heading a:link {
    color: #3B82F6;
    text-decoration: none;
}

.card .heading a:visited {
    color: #10B981;   /* after click/visited link */
}

.card .heading a:hover {
    color: #F59E0B;   /* on hover */
    text-decoration: underline;
}

.card .heading a:active {
    color: #EF4444;   /* while pressing */
}

@media (min-width: 320px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Mobile M (375px) & Mobile L (425px): 2 cards */
@media (min-width: 375px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet (768px): 3 cards */
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Laptop (1024px): 5 cards */
@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Laptop L (1440px): 7 cards */
@media (min-width: 1440px) {
  .card-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* 4K (2560px): 12 cards */
@media (min-width: 2560px) {
  .card-container {
    grid-template-columns: repeat(12, 1fr);
  }
}
